source/zxing/build/
source/okhttp-lib/build/
source/local.properties
source/gradlew.bat
source/gradlew
source/gradle/wrapper/gradle-wrapper.properties
source/gradle/wrapper/gradle-wrapper.jar
source/flowlayout-lib/flowlayout-lib.iml
source/flowlayout-lib/build/
source/build/
source/app/build/
source/zxing/zxing.iml
source/zxing/build/
source/zxing/build/
source/app/build/
source/app/app.iml
source/.idea/
source/.gradle/
source/zxing/build/
source/.gradle/
source/app/build/
source/zxing/build/
source/okhttp-lib/build/
source/flowlayout-lib/
source/build/intermediates/dex-cache/cache.xml
source/build/android-profile/
source/okhttp-lib/okhttp-lib.iml
