<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idea.jgw">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.idea.jgw.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.login.StartActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.login.GetVerificationCodeActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.login.ResetLoginPasswordActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.login.NationCodeListActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.login.SetPasswordActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.login.RegisterActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.LoadOrCreateWalletActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.WalletCreateSuccessActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.SetTransactionPinActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.CopyKeyWordsActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.InputKeyWordActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.createWallet.CheckKeyWordActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.IdentityAuthenticationActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.MiningDetailActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.MiningHashrateActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.SendMiningCoinActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity
            android:name=".ui.mining.VerifyGesturePasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.ShareActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.AboutUsActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.GesturePasswordActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.HelpActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.InfoActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.UserInfoActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.SecurityManagerActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.IdentityAuthentication2Activity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>

        <service android:name=".ui.service.ScreenListenerService"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>

        <activity android:name=".ui.wallet.BtcBalanceActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.BtcReceivedActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.BtcSendActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.EthBalanceActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.EthReceivedActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.EthSendActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.JgwBalanceActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.JgwReceivedActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.JgwSendActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.TransactionDetailActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.SendActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.WalletAddressActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.wallet.QrSanActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.mining.HashrateRecordListActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.FeedbackActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity android:name=".ui.user.UpdateNicknameActivity"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"></activity>
        <service android:name=".logic.eth.service.TransactionService"
            android:screenOrientation="portrait" android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
    </application>

</manifest>